@import "tailwindcss";

/* RESET DEFAULT VITE CENTER ALIGN */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f0ff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
